.ant-popover-inner {
  padding: 0px !important;
  border-radius: 10px;
}

.ant-select-multiple .ant-select-selection-item {
  background-color: #a8580f;
  color: white;
  height: 36px;
  width: 125px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.ant-select-selection-overflow-item {
  padding: 5px;
}

.ant-select-selection-item-remove svg {
  color: white;
}

span.ant-select-selection-item-content {
  font-size: 12px;
}

.ant-modal-close {
  display: none !important;
}
.info-modal.ant-modal-close {
  display: block !important;
  color: red !important;
}
.matcheduser-modal.ant-modal-close{
  display:block !important;
}
.ant-switch-checked {
  background: #a8580f !important;
}
