.Header {
    background-color: #F0F0F0;
    font-weight: 600;
    font-size: 18px;
    height: 10vh;
}

.Header .Setting {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 22px;
}

.Delete {
    width: 75%;
    height: 3rem;
    background: linear-gradient(268.55deg, #FF483C 0%, #FF2C5A 100%);
    border: none;
    border-radius: 10px;
    color: white;
}

.innerFlexBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteac {
    padding-bottom: 12px;
    padding-left: 6px;
}

.mainContainer {
    height: 90vh;
}

.SetLeft {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 0%;
    height: 100%;
}

.SetLeft>div div:not(:first-child) {
    margin-top: 5%;
}

.NormalBtn {
    width: 80%;
    height: 58px;
    padding: 3% 5%;
    border: none;
    font-weight: 600;
}

.ActiveState {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.gradient {
    border-image-source: linear-gradient(268.55deg, #FF483C 0%, #FF2C5A 100%);
}

.left {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.InnerResetPass {
    width: 75%;
}

.ResetPass {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.PassChan {
    width: 226px;
    background: linear-gradient(268.55deg, #FF483C 0%, #FF2C5A 100%);
    border: none;
    height: 48px;
    border-radius: 10px;
    color: #fbfaf8;
    font-size: 15px;
}

.InputMeth {
    width: 440px;
    border-radius: 10px;
    height: 56px;
    padding-left: 24px;
}